version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: school_motivation
      POSTGRES_USER: school_user
      POSTGRES_PASSWORD: school_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
